/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url("/fonts/PlusJakartaSans-VariableFont_wght.tff") format("truetype");
}
:root{
/* == COLORS == */
--Lime: hsl(61, 70%, 52%);
--Lime-alfa-50: hsla(61, 70%, 52%, 0.5);
--Lime-alfa-15: hsla(61, 70%, 52%, 0.15);
--Red: hsl(4, 69%, 50%);

--White: hsl(0, 0%, 100%);
--Slate-100: hsl(202, 86%, 94%);
--Slate-300: hsl(203, 41%, 72%);
--Slate-500: hsl(200, 26%, 54%);
--Slate-700: hsl(200, 24%, 40%);
--Slate-900: hsl(202, 55%, 16%);

/* == FONTS == */
--main-font: 'Plus Jakarta Sans';
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    color: var(--Slate-900);
    background-color: var(--Slate-100);

    font-family: var(--main-font), 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-stretch:normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
